html {
	scroll-behavior: smooth;
}

body {
	background-color: #f8f8f8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#full-header {
	width: 100%;
	background-color: #f8f8f8;
}

header {
	display: flex;
	margin: 0px auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f8f8f8;
    padding: 20px;
}


header a.logo {
	padding-top: 0px;
	display: flex;
	margin-left: 5px;
    justify-content: center;
    align-items: center;
}

header nav {
	display: inline-flex;
    margin-left: auto;
	align-items: center;
	justify-content: center;
    padding: auto;
}

header nav ul {
	list-style: none;
	display: inline-flex;
	background-color: #f8f8f8;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	height: 70%;
}

header nav ul ul {
    display: none;
    position: absolute;
    margin-top: 60px;
    
}

.mdp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li:hover ul {
    display: block;
    position: absolute;
	justify-content: flex-start;
}

header nav ul li {
	padding: 12px;
	position: relative;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

header nav ul li.rg {
    width: 90px;
    height: 40px;
    border-color: hsla(0, 0%, 41%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

header nav ul li.rg:hover {
    border-color: hsla(0, 0%, 0%, 0.5);
}


header nav ul a {
	text-decoration: none;
	color: hsl(0, 0%, 41%);
    font-size: 0.9rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
}

header nav ul a:hover {
	color: hsl(0, 0%, 0%);
   
}

header nav ul li.menu-dropdown ul {
	display: none;
}


.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
  }

.menu a li {
	margin: 0 1rem;
	overflow: hidden;
	background-color: #7510F7;
	color: #fff;
	margin: 0 1rem;
	overflow: hidden;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
}
  
  .menu > li {
	margin: 0 1rem;
	overflow: hidden;
  }
  
  .menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  #menu-toggle {
	display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
	display: block;
	background-color: #7510F7;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
  }
  
  .menu-button::before {
	content: '';
	margin-top: -8px;
  }
  
  .menu-button::after {
	content: '';
	margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
  }
  
  @media (max-width: 560px) {
	.menu-button-container {
	  display: flex;
	  margin-right: 10px;
	}
	
	.menu {
		position: absolute;
		top: 0;
		margin-top: 40px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		display: block;
	  }

	#menu-toggle ~ .menu li {
	  height: 0;
	  margin: 0;
	  padding: 0;
	  border: 0;
	  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu li {
	  border: 1px solid #a96ef7;
	  height: 2.5em;
	  padding: 0.5em;
	  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu > li {
	  display: flex;
	  justify-content: center;
	  margin: 0;
	  padding: 0.5em 0;
	  width: 100%;
	  color: white;
	  background-color: #7510F7;
	}
	.menu > li:not(:last-child) {
	  border-bottom: 1px solid #444;
	}
  }

.container {
	position: absolute;
	width: 100%;
	height: 90vh;
	padding: 100px;
	margin-top: 60px;
}

.box1 {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.box-titulo {
	padding: 40px 0px;
}

.box1 h1 {
	font-size: 4.4rem;
	font-family: 'Epilogue', sans-serif;
	font-weight: bold;
	color: rgb(22, 22, 22);
}

.box-subtitulo {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.box1 h3 {
	font-size: 1.2rem;
	font-family: 'Epilogue', sans-serif;
	color: hsl(0, 0%, 41%);
	font-weight: 500;
	line-height: 1.6;
}

.box-button {
	padding: 40px 0px;
}

.button {
	width: 150px;
	height: 45px;
	background-color: rgb(22, 22, 22);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:hover {
	cursor: pointer;
	background-color: #ffffff;
	border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

.button p{
	font-size: 1.1rem;
	color: #ffffff;
	font-family: 'Epilogue', sans-serif;
}

.box-logos {
	display: flex;
	align-items: center;
}

.logos-r {
	margin-left: 30px;
}